<!DOCTYPE html>
<html>
    <head>
        <title>Masterpiece Review</title>
        <link rel="icon" href="../images/monalisa_anime.jpg" type="image/x-icon">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/styles/global.css">
        <link rel="stylesheet" href="/styles/modal.css">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">

        <script src="/scripts/modal.js" defer type="module"></script>


    </head>
    <body>
        <div id="home" class="content">
            <header>
                <a href="/">
                    <img src="/images/monalisa_anime_transparent.png" alt="Monalisa Masterpiece Logo"/>
                </a>
                <h1>Masterpiece review</h1>
                <ul class="menu">
                    <li><a href="/animes"><strong>Animes</strong></a></li>
                    <li><a href="/seriesl" style="color:var(--brown-dark)"><strong>Series</strong></a></li>
                    <li><a href="/filmes" ><strong>Filmes</strong></a></li>
                </ul>
                <section class="login">
                    <form action="#">
                        <label class="sr-only" for="login">Username</label>
                        <input name="login" id="login" placeholder="Username">
                        <label class="sr-only" for="senha">Senha</label>
                        <input name="senha" id="senha"  type="password" placeholder="Senha">
                        <button><strong>Login</strong></button>
                    </form>
                    <p>
                        Ainda não tem conta?
                        <a href="#" class="signup">Cadastre-se</a>
                    </p>
                </section>
                
            </header>
           
            
            <main>
                <div class="highlights">
                    
                    <div class="review">
                        <div class="type">
                            <p>Serie</p>
                        </div>
                        <div class="name">
                            <p>O Ultimo Reino (The Last Kingdom)</p>
                        </div>
                        <div class="description">
                            <p>Baseado no livro Crônicas Saxônicas, retrata a invasão viking na inglaterra e sua ocupação de uma maneira muito próxima do que realmente aconteceu historicamente, sendo vista aos olhos de um personagem meio-ficticio chamado Uhtred de Bebbanburg</p>
                        </div>
                        <div class="autor">
                            <p>Autor: Thor Haubert</p>
                        </div>
                    </div>
    
                </div>
                
            </main>
        </div>
        <div class="modal-wrapper">
            <div class="modal">
                <h2>Cadastro</h2>
                <form action="#">
                    <label class="sr-only" for="email">E-mail</label>
                    <input name="email" id="email" placeholder="E-mail">
                    <label class="sr-only" for="login">Username</label>
                    <input name="login" id="login" placeholder="Username">
                    <label class="sr-only" for="senha">Senha</label>
                    <input name="senha" id="senha" placeholder="Senha">
                    <div class="buttons">
                        <button class="white">Confirmar</button>
                        <div class="button red cancel">Cancelar</div>
                    </div>
                </form>
            </div>
        </div>

    </body>
</html>