*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    --yellow: #c2ad52;
    --brown: #5e4801;
    --brown-red: #31180b; 
    --brown-dark: #352907;
    --white: #FAFAFA;
    --red: #E83F5B;
    --blue: #3485FF;
    --grey-dark: #4D5E77;
    --grey-light: #cbd0d6;

    font-size: 62.5% /* 10px */
}

body{
    display: flex;
    height: 100vh;
    background-color: var(--brown-red);
    
}

body, button, input, textarea{
   
    font-size: clamp(14px, 1.6rem, 2vw);
    font-family: 'Poppins', sans-serif;

}

.content{
    width: 100%;
    margin: 0 auto;
    
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.content header{
    background: var(--yellow);
    display: flex;
    align-items: center;
    
}

.content header h1{
    margin: 27rem 0 0 -3rem;
    font-size: 4.8rem;
    color: var(--brown-dark);
    

}

.content header a img{
    margin: 2rem 0 -1.1rem 10rem;
    width: 38rem;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.content header .login{
    margin-left: 15rem;
    width: 20%;
    border-radius: .2rem;
    background: var(--brown-red);
    padding: 4.5rem 3.5rem;
}

.content header .login p{
   color: var(--white);
}

.content header .login p a{
    color: var(--grey-light);
}

.content header .login p a:hover{
    color: var(--red);
    transition: 0.3s;
}

.content header .login input{
    padding: .8rem 8rem .8rem .4rem;
    border-radius: .2rem;
    margin-bottom: 1rem;
    outline: none;
}

.content header .login button{
    padding: .8rem 12rem;
    border-radius: .2rem;
    color: var(--white);
    background-color: var(--brown-red);
    border: .2rem solid var(--white);
}

.content header .login button:hover{
    background: var(--white);
    color: var(--brown-red);
    transition: 0.5s;
}


.content ul{
    margin: 1.6rem 0 0 3rem;
    list-style-type: none;
    display: flex;
    padding: 5rem;
    margin: -16rem 0 0 -35rem; 
}


.content li{
    margin-right: 8rem;
    font-size: 3.8rem;
}

.content li a:hover {
    color:var(--brown-dark);
    transition: 0.5s;
}

.content ul li a{
    color: var(--white);

}

.content main{
    /* margin-left: 30rem; */
    padding: 5rem 8rem;
}

.content main .highlights{ 
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    
}


.content main .highlights .review{
    margin: 3rem;
    color: var(--white);
    font-weight: 700;
    width: 45%;
}

.content main .highlights .review .type p{

    font-size: 2.8rem;
    
}

.content main .highlights .review .name p{
   
    font-size: 3.5rem;
    
}

.content main .highlights .review .description p{
    font-size: 2rem;
    
}

.content main .highlights .review .autor p{
    
    font-size: 1.4rem;

}

@media(max-width: 136.6rem){
 
    .content header a img{
        margin: 2rem 0 -8.4rem 10rem;
    }

    .content header .login {
        width:25%;
        margin-left: 5rem;
    }

    .content header{
        margin-left: -13rem;
        width: 140%;
    }

    .content header .login input{
        padding: .8rem 0 .8rem .4rem;
        border-radius: .2rem;
        margin-bottom: 1rem;
        outline: none;
    }

    .content header .login button{
        padding: .8rem 12rem;

    }    
    

}

